.menu {
	position: relative;
	left: 20%;
	width: 60%;
	height: 50px;
	background-color: gray;
	margin: 0px;
	text-align: center;
}
.glowna {
	position: fixed;
	left: 22%;
	height: 100%;
	width: 56%;
	background-color: #ccf2ff;
}
.ulmenu li{
	display: inline;
}
.ulmenu{
	margin: 0;
	padding: 0;
}
.ulmenu a{
	font-family: Arial;
	font-size: 1em;
	font-style: none;
	color: #ffffff;
	text-decoration: none;
	height: 100%;
	width: 100%;
}
.mbutton{
	height: 50px;
	width: 16.666%;
	float: left;
}
.mbutton:hover{
	background-color: green;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.glowna h1{
	font-family: Arial;
	font-size: 1em;
	font-style: none;
	text-align: center;
	text-decoration: none;
}
.tablica{width: 100%;}
.tablica td{border:1px solid black; background-color:#c5c9c7;}
.tablica th{border:1px solid black; background-color:#93edc0;}
.tablica {border:1px solid black; text-align:center;}
.form{
	text-align:center;
}